# Working With JSON

In [1]:
### Importing Pandas
import pandas as pd

## Importing Dataset (Recipie Ingredient Dataset)

This is a classification dataset where we have to predict the cuisine type from its ingredient

### using `read_json()` Method. [Refer docs](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html)

#### From Local JSON file

In [2]:
df = pd.read_json('./Data/Recipie/train.json')
df

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

#### From URL

In [3]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,0.0437
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,0.8190
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,1.0700
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,4.6100
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,1.2900
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,2.9800
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,0.2080
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,0.3140
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-10-05,1728086401,0.3020

# Working with SQL

### Importing Postgress connector, Create DB and then DataFrame

In [18]:
%pip install psycopg2 sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in c:\users\debat\appdata\roaming\python\python312\site-packages (2.9.9)
Requirement already satisfied: sqlalchemy in c:\users\debat\appdata\roaming\python\python312\site-packages (2.0.35)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\debat\appdata\roaming\python\python312\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\debat\appdata\roaming\python\python312\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

#### Using `read_sql_query()` Method. [Refer Docs](https://pandas.pydata.org/docs/reference/api/pandas.read_sql_query.html)

In [17]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# Establish connection to PostgreSQL
def connect_to_postgres(dbname, user, password, host='localhost', port='5432'):
    conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)
    return conn

# Run the .sql file to create the database and load data
def run_sql_file(connection, sql_file_path):
    with connection.cursor() as cursor:
        with open(sql_file_path, 'r') as sql_file:
            cursor.execute(sql_file.read())
    connection.commit()

# Create a Pandas DataFrame from the PostgreSQL query
def query_to_dataframe(connection, query):
    return pd.read_sql_query(query, connection)

# Parameters to connect to PostgreSQL
dbname = 'northwind'  # Replace with your database name
user = 'postgres'  # Replace with your PostgreSQL username
password = 'postgres'  # Replace with your PostgreSQL password
sql_file_path = './Data/northwind.sql'  # Replace with your SQL file path

# Connect to the database
conn = connect_to_postgres(dbname, user, password)

# Run the .sql file
run_sql_file(conn, sql_file_path)

# Query to fetch data into a DataFrame (modify this query as needed)
query = "SELECT * FROM customers WHERE contact_title LIKE 'Owner';"  # Replace with your table name
df_sql = query_to_dataframe(conn, query)

# Close the connection
conn.close()

# Display the DataFrame
df_sql

C:\Users\debat\AppData\Local\Temp\ipykernel_26100\171772399.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql_query(query, connection)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la ConstituciÃ³n 2222,MÃ©xico D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
1,ANTON,Antonio Moreno TaquerÃ­a,Antonio Moreno,Owner,Mataderos 2312,MÃ©xico D.F.,None,05023,Mexico,(5) 555-3932,None
2,BOLID,BÃ³lido Comidas preparadas,MartÃ­n Sommer,Owner,"C/ Araquil, 67",Madrid,None,28023,Spain,(91) 555 22 82,(91) 555 91 99
3,BONAP,Bon app',Laurence Lebihan,Owner,"12, rue des Bouchers",Marseille,None,13008,France,91.24.45.40,91.24.45.41
4,CHOPS,Chop-suey Chinese,Yang Wang,Owner,Hauptstr. 29,Bern,None,3012,Switzerland,0452-076545,None
5,DUMON,Du monde entier,Janine Labrune,Owner,"67, rue des Cinquante Otages",Nantes,None,44000,France,40.67.88.88,40.67.89.89
6,FOLKO,Folk och fÃ¤ HB,Maria Larsson,Owner,Ã…kergatan 24,BrÃ¤cke,None,S-844 67,Sweden,0695-34 67 21,None
7,GROSR,GROSELLA-Restaurante,Manuel Pereira,Owner,5Âª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela,(2) 283-2951,(2) 283-3397
8,LETSS,Let's Stop N Shop,Jaime Yorres,Owner,87 Polk St. Suite 5,San Francisco,CA,94117,USA,(415) 555-5938,None
9,LINOD,LINO-Delicateses,Felipe Izquierdo,Owner,Ave. 5 de Mayo Porlamar,I. de Margarita,Nueva Esparta,4980,Venezuela,(8) 34-56-12,(8) 34-93-93
10,OTTIK,Ottilies KÃ¤seladen,Henriette Pfalzheim,Owner,Mehrheimerstr. 369,KÃ¶ln,None,50739,Germany,0221-0644327,0221-0765721
11,PARIS,Paris spÃ©cialitÃ©s,Marie Bertrand,Owner,"265, boulevard Charonne",Paris,None,75012,France,(1) 42.34.22.66,(1) 42.34.22.77
12,SANTG,SantÃ© Gourmet,Jonas Bergulfsen,Owner,Erling Skakkes gate 78,Stavern,None,4110,Norway,07-98 92 35,07-98 92 47
13,SIMOB,Simons bistro,Jytte Petersen,Owner,VinbÃ¦ltet 34,Kobenhavn,None,1734,Denmark,31 12 34 56,31 13 35 57
14,TORTU,Tortuga Restaurante,Miguel Angel Paolino,Owner,Avda. Azteca 123,MÃ©xico D.F.,None,05033,Mexico,(5) 555-2933,None
15,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115
16,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012